@import "../../Styles/mixins";
@import "../../Styles/variables";

.RowItems {
  text-decoration: none;

  &__img {
    img {
      border-radius: 0.2rem;
    }
  }

  &__info {
    h4 {
      width: 100%;
      color: $white;
      font-size: $font-sm;
      font-weight: map-get($font-weight, Medium);
      margin-top: 0.6rem;

      @media (max-width: 484px) {
        font-size: $font-sm;
      }
    }

    P {
      margin: 0.3rem 0;
      font-size: $font-xsm;
      color: $lightGrey;
      opacity: 0.5;
      font-weight: map-get($font-weight, Light);

      @media (max-width: 484px) {
        font-size: $font-xsm;
      }
    }
  }
}
