@import "../../Styles/mixins";
@import "../../Styles/variables";

.dropdown {
  position: relative;

  select {
    font-size: $font-xsm;
    text-align: center;
    padding: 1rem;
    width: 12rem;
    border-radius: 0.4rem;
    background-color: transparent;
    color: $Yellow;
    text-transform: uppercase;
    border: 1px solid $Yellow;
    appearance: none;
    font-weight: map-get($font-weight, Medium);

    option {
      text-transform: uppercase;
    }
  }
}
