@import "../../Styles/mixins";
@import "../../Styles/variables";

.dropdown {
  &__list {
    @include flexbox(row, center, center);

    .active {
      background-color: red;
    }

    li {
      padding: 1.2rem;
      border: 2px solid $Yellow;

      a {
        text-decoration: none;
        font-size: $font-xsm;
        color: $white;
      }
    }
  }
}
