@import "../../Styles/mixins";
@import "../../Styles/variables";

.reviews {
  @include flexbox(row, flex-start, flex-start);
  margin-bottom: 4rem;

  &__like {
    margin-top: 2rem;

    button {
      background-color: transparent;
      font-size: 1.5rem;
      color: #fff;

      span {
        font-size: 1.5rem;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__img {
    img {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }

  &__info {
    margin-left: 2rem;

    span {
      font-size: 0.8rem;
      margin-left: 1rem;
      color: $lightGrey;
    }

    p {
      text-transform: capitalize;
      &:first-child {
        font-size: $font-sm;
        margin-bottom: 0.3rem;
      }
      &:last-child {
        margin-top: 0.6rem;
        color: $lightGrey;
        opacity: 0.7;
        max-width: 60rem;
        width: 100%;
        line-height: 1.4;
        font-size: $font-md;
      }
    }
  }

  &__header {
    @include flexbox(row, flex-start, center);
  }
}
