@import "../../Styles/mixins";
@import "../../Styles/variables";

.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  & > * {
    width: 18rem;
    margin: 0 2rem 2rem 0;

    @include respond(mobile) {
      width: 10rem;
    }
  }
}

.grid {
  @include respond(tablet) {
    display: none;
  }
}
