@import "../../Styles/variables";
@import "../../Styles/mixins";

.personKnownSlider__content {
  width: 100%;
  @include flexbox(row, center, center);
}

.personKnownSlider__slide {
  width: 10rem;

  @include respond(mobile) {
    width: 8rem;
  }
}
