@import "../Styles/variables";
@import "../Styles/mixins";

.button-wide {
  padding: 1rem 2rem;
  background-color: $Yellow;
  color: $DarkGrey;
  font-weight: map-get($font-weight, bold);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  width: 100%;
  text-transform: uppercase;
}
