//Font weight
$font-weight: (
  "Light": 300,
  "Medium": 500,
  "bold": 700,
);

// Colors
$Yellow: rgb(245, 197, 24);
$DarkGrey: rgb(18, 18, 18);
$lightGrey: rgb(184, 184, 184);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(0, 216, 0);

// Font size
$font-xsm: 1.2rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-l: 2.3rem;
$font-xl: 4rem;
