@import "../Styles/variables";
@import "../Styles/mixins";

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  background-color: $DarkGrey;
  color: $white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.app {
  padding-top: 7rem;
}
