@import "../Styles/variables";
@import "../Styles/mixins";

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  // Scroll Bar
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $DarkGrey;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba($Yellow, 1), rgba($Yellow, 0.6));
    border-radius: 1rem;
    height: 10rem;
  }

  @include respond(tablet) {
    font-size: 50.17%;
  }

  @include respond(mobile) {
    font-size: 45.62%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  background-color: $black;
  color: $white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

button {
  cursor: pointer;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.app {
  padding-top: 7rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.react-loading-skeleton {
  width: 100px;
}

.MuiPaginationItem-root {
  color: red;
}
