@import "../../Styles/mixins";
@import "../../Styles/variables";

.progress {
  @include flexbox(row, center, center);

  @include respond(mobile) {
    flex-direction: column;
  }

  &__item {
    height: 8rem;
    width: 8rem;

    @include respond(mobile) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__info {
    margin-left: 1em;

    p {
      font-size: $font-md;
    }
  }
}
