@import "../../Styles/variables";
@import "../../Styles/mixins";

.person {
  padding: 0 2rem;
  margin: 10rem 0 2rem 0;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;

    @include respond(tablet) {
      grid-template-columns: 100%;
    }
  }

  &__info {
    margin-right: 2rem;
    @include flexbox(column, flex-start, flex-start);

    @include respond(tablet) {
      @include flexbox(column, flex-start, center);
    }

    &--profile {
      width: 100%;

      @include respond(tablet) {
        width: 40%;
      }

      img {
        border-radius: 0.4rem;
      }
    }

    &--peronal {
      margin-top: 2rem;

      @include respond(tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        display: none;

        & > *:not(:first-child) {
          margin: 1rem;
        }
      }

      & > :first-child {
        margin-bottom: 2rem;
        font-size: $font-md;
      }

      & > :last-child {
        p {
          margin: 0.5rem 0;
        }
      }

      & > *:not(:first-child) {
        margin-bottom: 1rem;

        h4 {
          font-size: $font-sm;
          font-weight: map-get($font-weight, Medium);
          margin-bottom: 0.4rem;
        }

        p {
          font-size: $font-xsm;
          color: $lightGrey;
          font-weight: map-get($font-weight, Medium);
        }
      }
    }

    &--one {
      h4 {
        font-size: $font-md;
        font-weight: map-get($font-weight, Medium);
      }
    }
  }

  &__content {
    width: 100%;

    &--name {
      @include respond(tablet) {
        text-align: center;
        margin: 1rem 0;
      }

      h1 {
        font-weight: map-get($font-weight, Bold);
        margin-bottom: 3rem;
        font-size: $font-xl;
      }
    }

    &--bio {
      h1 {
        font-size: $font-md;
        margin-bottom: 0.6rem;
        font-weight: map-get($font-weight, Medium);
      }

      p {
        font-size: $font-xsm;
        line-height: 1.4;
        color: $lightGrey;
        max-width: 100%;
        text-align: left;
      }
    }

    &--known {
      h1 {
        font-size: $font-md;
        margin-bottom: 0.6rem;
        font-weight: map-get($font-weight, Medium);
      }

      margin-top: 2rem;
    }

    &--collection {
      margin-top: 2rem;
      border: 1px solid rgba(204, 204, 204, 0.445);
      padding: 1rem;
      border-radius: 0.4rem;

      header {
        @include flexbox(row, space-between, center);

        select {
          padding: 0.6rem;
          border-radius: 0.4rem;
          outline: none;
          border: none;
          background-color: $Yellow;
        }

        h1 {
          font-size: $font-md;
          font-weight: map-get($font-weight, Medium);
        }
      }
    }
  }
}
