@import "../../Styles/mixins";
@import "../../Styles/variables";

.netflixTrailer {
  position: relative;
  cursor: pointer;

  &__image {
    img {
      border-radius: 0.2rem;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    filter: drop-shadow(0 0 1rem rgba(17, 17, 17, 0.527));
    transition: all 0.3s ease;

    &:hover {
      font-size: 9rem;
    }
  }
}
