@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.slider {
  margin: 2rem 0 4rem 0;
  padding: 0 2rem;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    @include flexbox(row, space-between, center);
    margin-bottom: 2rem;

    h1 {
      font-size: $font-ml;
      font-weight: map-get($font-weight, Bold);
    }
  }

  &__tab {
    &--list {
      @include flexbox(row, center, center);
      border: 1px solid $Yellow;
      border-radius: 3rem;
      height: 100%;

      li {
        padding: 1.6vh 3vw;

        span {
          font-weight: map-get($font-weight, Medium);
          font-size: $font-xsm;
        }

        @include respond(mobile) {
          padding: 1vh 2vw;
        }

        height: 100%;
        transition: all 0.3 ease-out;
        cursor: pointer;
      }

      a {
        cursor: pointer;
        height: 100%;
        font-size: $font-xsm;

        color: $Yellow;
      }
    }
  }

  &__content {
    @include flexbox(row, center, center);
  }

  &__slide {
    width: 14rem;

    @include respond(mobile) {
      width: 10rem;
    }
  }
}

// Active class

.active {
  background-color: $Yellow;
  border-radius: 3rem;
  color: $DarkGrey;
  box-shadow: 0 0 2rem $DarkGrey;
}

.active a {
  color: $DarkGrey;
}
