@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.slider {
  margin: 2rem 0;
  padding: 0 2rem;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    @include flexbox(row, space-between, flex-start);
    margin-bottom: 3rem;

    h1 {
      font-size: 2.3rem;
      font-weight: map-get($font-weight, Medium);
    }
  }

  &__content {
    @include flexbox(row, center, center);
  }

  &__slide {
    width: 14rem;

    @include respond(mobile) {
      width: 10rem;
    }
  }
}
