@import "../../Styles/variables";
@import "../../Styles/mixins";

.cast__content {
  margin-top: 2rem;
  @include flexbox(row, center, center);
}

.cast__slide {
  width: 12rem;
  cursor: pointer;
  background-color: $DarkGrey;
  border-radius: 0.4rem;
  overflow: hidden;
  text-decoration: none;

  @include respond(mobile) {
    width: 10rem;
  }

  p {
    color: $font-sm;
    color: $lightGrey;
    text-align: left;
    padding: 0.6rem 0 0 0.6rem;
  }

  i {
    color: $font-xsm;
    color: $lightGrey;
    text-align: left;
    opacity: 0.7;
    display: block;
    padding: 0.6rem;
  }
}
