@import "../../Styles/mixins";
@import "../../Styles/variables";
@import "../../Styles/button";

.accountHeader {
  padding: 0 2rem;
  margin-top: 8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    height: 20rem;
    @include flexbox(row, flex-start, center);
  }

  &__profile {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    position: relative;

    &--file {
      position: absolute;
      display: none;
      appearance: none;
    }

    &--label {
      position: absolute;
      color: $Yellow;
      height: 3rem;
      width: 3rem;
      position: absolute;
      bottom: 10%;
      text-align: center;
      left: 90%;
      font-size: $font-md;
      color: $Yellow;
      transform: translateX(-50%);
      cursor: pointer;
      color: $DarkGrey;
      background-color: $Yellow;
      border-radius: 50%;
      @include flexbox(row, center, center);
    }

    &--img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &__info {
    margin-left: 6rem;
    @include flexbox(row, center, center);

    & > :not(:last-child) {
      margin-right: 2rem;
    }

    &--name {
    }

    &--review {
    }

    &--favarites {
    }
  }
}
