@import "../../Styles/variables";
@import "../../Styles/mixins";
@import "../../Styles/button";
@import "../../Styles/animations";

.header {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 2rem;
  position: relative;

  @include respond(mobile) {
    height: 70vh;
  }

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    @include flexbox(column, center, center);

    @include respond(mobile) {
      display: none;
    }

    &--mouse {
      width: 3rem;
      height: 5rem;
      border: 2px solid $white;
      border-radius: 3rem;
      @include flexbox(row, center, center);

      span {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 4rem;
        background-color: $white;
        display: block;
        animation: movie-wheel 1s linear infinite;
      }
    }

    &--arrow {
      span {
        display: block;
        width: 1rem;
        height: 1rem;
        border: 2px solid transparent;
        border-right-color: $white;
        border-bottom-color: $white;
        transform: rotate(45deg);
        animation: arrow 1s linear infinite;
        margin-top: 1rem;
      }
    }
  }

  &__image {
    width: 24rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include respond(mobile) {
      width: 16rem;
      top: 60%;
      transform: translateY(-60%);
    }

    img {
      border-radius: 0.2rem;
    }
  }
}

.info {
  margin-top: 3rem;
  padding: 0 2rem;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
    @include flexbox(row, flex-start, flex-start);

    @include respond(tablet) {
      @include flexbox(column, center, flex-start);
    }
  }

  &__rowone {
    flex: 0.6;
    margin-right: 3rem;

    &--favo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &--fav {
      background-color: transparent;
      color: $Yellow;
      margin-left: 2rem;
      font-size: $font-l;
    }

    @include respond(tablet) {
      margin-right: 0;
      margin-bottom: 3rem;
    }

    &--title {
      font-size: $font-xl;
      color: $white;
      font-weight: map-get($font-weight, Bold);
    }

    &--tagline {
      display: block;
      color: $lightGrey;
      font-size: $font-sm;
      margin: 1rem 0;
      font-weight: map-get($font-weight, Light);
      letter-spacing: 0.2rem;
    }

    &--desc {
      font-size: $font-xsm;
      color: $lightGrey;
      max-width: 100%;
      line-height: 1.6rem;
      opacity: 0.7;
    }

    &--button {
      margin-top: 3rem;
      width: 100%;
      @include flexbox(row, flex-start, center);

      button {
        padding: 1rem 2rem;
        border-radius: 0.3rem;
        font-weight: map-get($font-weight, bold);
        transition: al 0.3s ease;
        font-size: $font-xsm;

        &:hover {
          opacity: 0.8;
        }
      }

      .btn-primary {
        background-color: $Yellow;
        margin-right: 3rem;
        color: $DarkGrey;
      }

      .btn-secondary {
        background-color: transparent;
        margin-right: 3rem;
        border: 1px solid $Yellow;
        color: $Yellow;

        span {
          font-size: $font-md;
        }
      }

      button {
        span {
          margin-right: 0.8rem;
        }
      }
    }

    h4 {
      font-size: $font-md;
      font-weight: map-get($font-weight, Medium);
      margin-bottom: 0.4rem;
    }
  }

  &__rowtwo {
    flex: 0.4;
    &--genre {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      h1 {
        font-size: $font-sm;
        font-weight: map-get($font-weight, Medium);
        margin-bottom: 1rem;
      }

      ul {
        @include flexbox(row, flex-start, center);
        flex-wrap: wrap;

        li {
          padding: 0.4rem 1rem;
          font-size: $font-xsm;
          font-weight: map-get($font-weight, Light);
          background-color: $DarkGrey;
          border-radius: 0.4rem;
          margin: 1rem 0;

          &:not(:last-child) {
            margin-right: 2vw;
          }
        }
      }
    }

    &--date {
      margin-top: 2rem;
      h1 {
        font-size: $font-sm;
        font-weight: map-get($font-weight, Medium);
        // margin: 1rem 0;
      }

      p {
        color: $lightGrey;
        font-size: $font-xsm;
        font-weight: map-get($font-weight, Medium);
      }
    }

    &--rating {
      margin-top: 2rem;
      color: $Yellow;

      & > * {
        font-size: 2rem;
      }

      h1 {
        font-size: $font-sm !important;
        font-weight: map-get($font-weight, Medium);
        color: $white;
        margin: 1rem 0;
      }
    }

    &--status {
      margin-top: 2rem;

      p {
        color: $lightGrey;
        font-size: $font-xsm;
        font-weight: map-get($font-weight, Medium);
        width: 100%;
      }
    }

    &--detail {
      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;

      & > * {
        &:not(:last-child) {
          margin-right: 3vw;
        }
      }
    }

    &--lang {
      margin-top: 2rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        p {
          font-size: $font-xsm;

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

.cast {
  margin-top: 3rem;
  padding: 0 2rem;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__rowone {
    margin-bottom: 3rem;
    h1 {
      font-size: $font-l;
      font-weight: map-get($font-weight, Medium);
    }
  }

  &__rowtwo {
    border-bottom: 1px solid rgba(221, 221, 221, 0.582);
    h1 {
      font-size: $font-md;
      font-weight: map-get($font-weight, Medium);
      padding: 1rem 0;
      transition: all 0.2s ease;

      & > * {
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;
          color: $Yellow;
        }
      }
    }
  }
}

.review {
  margin-top: 3rem;
  padding: 0 2rem;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    h1 {
      font-size: $font-md;
      font-weight: map-get($font-weight, Medium);
    }
  }

  &__form {
    margin: 2rem 0;

    form {
      width: 100%;
      @include flexbox(row, flex-start, center);
      transition: 0.2s ease;
    }

    &--input {
      width: 100%;
      display: flex;
      border-bottom: 1px solid $lightGrey;
      padding: 1rem 0;

      input {
        flex: 1;
        max-width: 100%;
        background-color: transparent;
        font-family: inherit;
        color: $white;
      }
    }

    &--button {
      display: none;
      @include respond(mobile) {
        display: block;
      }
      button {
        background-color: transparent;
        color: $Yellow;
        font-size: $font-l;
        cursor: pointer;
      }
    }
  }

  &__list {
    margin-top: 4rem;
  }
}

.recommeded {
  padding: 0 2rem;
  margin: 1rem 0;

  &__container {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 1rem;
    h1 {
      font-size: $font-l;
      font-weight: map-get($font-weight, Medium);
    }
  }

  &__content {
    @include flexbox(row, center, center);
  }

  &__slide {
    width: 30rem;

    @include respond(mobile) {
      width: 24rem;
    }
  }
}
